@import 'vars';

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background: $light;
  font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.mwc {
  max-width: $max-width;
  margin: 0 auto;
}
